@tailwind base;

@tailwind components;
@tailwind utilities;


@layer base {
    .logo-color-1 {
        stop-color: #21145f;
    }
    .logo-color-2 {
        stop-color: #008056;
    }

    /* Dark mode colors */
    .white-logo-color {
        stop-color: #f1f1f1;
    }

    [dir=rtl] select {
        background-position: left 0.5rem center;        
    }

}


@layer components {
    [dir='rtl'] .rtl-dropdown-content-left {
        right: auto;
        left: 0;
    }
}
